In [8]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import MySQLdb
import pandas as pd
import numpy as np
import pandas.io.sql as psql
import json

In [9]:
global teamnamedict
# C:\Users\mg\JupyterLabDir\Rest\Pr Winning\teamnamedict_streamlit.jso
with open('teamnamedict_streamlit.json') as f:
    teamnamedict = json.load(f)

In [10]:
def process_team_names_of_df(x_df):
    x_df = x_df.replace(teamnamedict)
    return x_df

In [11]:
outputname = "serie_a2021__14022022.csv"

In [12]:
# setup the database connection.  There's no need to setup cursors with pandas psql.
db = MySQLdb.connect(host='127.0.0.1',
                        database='xg',
                        user='root',
                        password='root')

xgtablename = "serie_a2021__14022022"

# create query for all users
queryxg = "select * from {0} ".format(
    xgtablename)

print("queryxg", queryxg)

# execute the query and assign it to a pandas dataframe
dfxg = psql.read_sql(queryxg, con=db)
dfxg = process_team_names_of_df(dfxg)

# close the database connection
db.close()

queryxg select * from serie_a2021__14022022

C:\Users\gebel\.conda\envs\winning\lib\site-packages\pandas\io\sql.py:758: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [13]:
dfxg

,TEAMS,GOALS,xG,SHOTS,SHOTS ON TARGET,DEEP,PPDA,xPTS,A_TEAMS,A_GOALS,A_xG,A_SHOTS,A_SHOTS ON TARGET,A_DEEP,A_PPDA,A_xPTS,timing_chart_xg
0,Atalanta,0,1.52,12,6,8,13.72,1.35,Inter,0,1.51,11,3,10,11.50,1.38,0' Total xG: 0.00;0' Total xG: 0.00;0' Total x...
1,Inter,2,2.87,24,12,14,5.71,2.93,Venezia,1,0.22,3,3,0,32.11,0.04,0' Total xG: 0.00;0' Total xG: 0.00;1' Total x...
2,Salernitana,0,1.09,10,2,5,22.53,0.27,Inter,5,3.31,23,8,21,8.76,2.62,0' Total xG: 0.00;0' Total xG: 0.00;1' Total x...
3,Inter,4,2.21,16,8,12,8.94,2.24,Genoa,0,0.97,11,5,11,22.63,0.57,0' Total xG: 0.00;0' Total xG: 0.00;1' Total x...
4,Inter,2,2.85,31,11,15,6.68,2.87,Spezia,0,0.25,7,4,1,38.22,0.08,0' Total xG: 0.00;0' Total xG: 0.00;1' Total x...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,Genoa,1,2.59,15,5,7,4.57,2.60,Salernitana,1,0.97,12,4,5,10.25,0.26,14' Total xG: 0.62;14' Total xG: 0.03;15' Tota...
473,Salernitana,0,0.23,6,1,2,35.56,0.16,Lazio,3,1.74,15,8,8,8.00,2.73,14' Total xG: 0.00;14' Total xG: 1.00;15' Tota...
474,Salernitana,0,0.79,11,1,3,13.27,0.81,Atalanta,1,1.38,10,3,11,6.84,1.90,14' Total xG: 0.02;14' Total xG: 0.00;14' Tota...
475,Fiorentina,4,2.74,17,9,12,8.15,2.54,Salernitana,0,0.92,11,6,8,14.90,0.32,14' Total xG: 0.00;14' Total xG: 0.00;15' Tota...
476,Sassuolo,1,1.61,17,6,8,4.90,1.73,Salernitana,0,1.16,12,5,7,10.58,1.00,14' Total xG: 0.10;14' Total xG: 0.25;15' Tota...

In [14]:
dfxg.to_csv("{}".format(outputname), index=True)