In [1]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import MySQLdb
import pandas as pd
import numpy as np
import pandas.io.sql as psql
import json

In [2]:
global teamnamedict
# C:\Users\mg\JupyterLabDir\Rest\Pr Winning\teamnamedict_streamlit.json
with open('teamnamedict_streamlit.json') as f:
    teamnamedict = json.load(f)

In [3]:
def process_team_names_of_df(x_df):
    x_df = x_df.replace(teamnamedict)
    return x_df

In [ ]:
outputname = "epl2021.csv"

In [4]:
saison = "epl2021__14022022"
team = "Manchester City"

# setup the database connection.  There's no need to setup cursors with pandas psql.
db = MySQLdb.connect(host='127.0.0.1',
                        database='xg',
                        user='root',
                        password='root')


xgtablename = "epl2021__14022022"

# create query for all users
queryxg = "select * from {0} ".format(
    xgtablename)

print("queryxg", queryxg)

# execute the query and assign it to a pandas dataframe
dfxg = psql.read_sql(queryxg, con=db)
dfxg = process_team_names_of_df(dfxg)

# close the database connection
db.close()

queryxg select * from epl2021__14022022

C:\Users\gebel\.conda\envs\winning\lib\site-packages\pandas\io\sql.py:758: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [6]:
dfxg

,TEAMS,GOALS,xG,SHOTS,SHOTS ON TARGET,DEEP,PPDA,xPTS,A_TEAMS,A_GOALS,A_xG,A_SHOTS,A_SHOTS ON TARGET,A_DEEP,A_PPDA,A_xPTS,timing_chart_xg
0,Tottenham,2,2.07,11,6,6,17.50,2.78,Brentford,0,0.23,6,2,7,15.81,0.13,14' Total xG: 0.08;14' Total xG: 0.00;15' Tota...
1,Manchester City,2,1.98,15,7,11,5.20,2.55,Brentford,0,0.46,6,2,3,16.47,0.29,14' Total xG: 0.04;14' Total xG: 0.00;14' Tota...
2,Liverpool,3,3.49,27,13,11,8.82,2.90,Brentford,0,0.38,6,1,5,15.15,0.06,14' Total xG: 0.40;14' Total xG: 0.00;15' Tota...
3,Brentford,0,1.62,17,7,16,14.26,2.50,Chelsea,1,0.25,5,1,8,13.87,0.31,14' Total xG: 0.00;14' Total xG: 0.00;15' Tota...
4,West Ham,1,1.37,18,5,8,6.00,1.38,Brentford,2,1.30,13,6,1,13.43,1.32,14' Total xG: 0.00;14' Total xG: 0.28;15' Tota...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,Manchester City,0,1.22,16,1,6,11.53,1.98,Southampton,0,0.49,10,2,6,16.50,0.73,0' Total xG: 0.00;0' Total xG: 0.00;1' Total x...
474,Brentford,0,0.24,6,2,3,13.09,0.50,Manchester City,1,1.02,12,3,6,5.09,2.21,0' Total xG: 0.00;0' Total xG: 0.00;1' Total x...
475,Brighton,1,1.17,10,5,7,9.79,0.14,Manchester City,4,3.57,23,13,10,23.79,2.78,0' Total xG: 0.00;0' Total xG: 0.00;1' Total x...
476,Manchester City,6,3.83,17,9,12,8.96,2.28,Leicester,3,2.43,14,8,6,43.00,0.56,0' Total xG: 0.00;0' Total xG: 0.00;1' Total x...
477,Manchester City,5,4.47,25,10,14,5.06,2.99,Arsenal,0,0.12,1,0,0,52.14,0.01,0' Total xG: 0.00;0' Total xG: 0.00;1' Total x...

In [7]:
dfxg.to_csv("{}".format(outputname), index=True)